/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */
@font-face {
    font-family: 'press_start_2pregular';
    src: url('pressstart2p-webfont.woff2') format('woff2'),
         url('pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_groteskregular';
    src: url('spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color:black;
}
h1{
    font-family: 'press_start_2pregular';
    font-size:2em;
    color:white;
    text-align:center;
    line-height:1.5;
}
h2{
    font-family: 'press_start_2pregular';
    font-size:1.2em;
    color:white;
    text-align:center;
    line-height:1.5;
    padding-bottom:2em;
}

h3{
    font-family:'space_groteskregular';
    color:white;
    font-size:1.5em;
    text-align:center;
    line-height:1.5;
}

p,li{
    font-family:'space_groteskregular';
    color:white;
    font-size:1.2em;
    padding-top:1em;
    padding-bottom:1em;
    line-height:1.4;
}
li{
    padding-bottom:0.1em;
}
/* splash */
.splash{
    margin-top:200px;
    margin-bottom:200px;
    margin-left:50px;
    margin-right:50px;
}

#rightImg{
    top:0px;
    position:absolute;
    z-index:-100;
    width:40%;
    height:auto;
    right:0px;
}

#leftImg{
    position:absolute;
    z-index:-100;
    width:40%;
    height:auto;
    top:400px;
}

/* sections */
.section1,.section2,.section3,.section4{
    margin:50px;
}
/* section1 */
.machine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    /* .fix-search & {
        position: fixed;
        top: 10px;
    } */
}

.section1 div{
    padding-bottom:50px;
}

/* section 2 */

span{
    display:flex;
    justify-content:center;
    margin:25px;
    align-items:center;
}
span p{
    width:40%;
}

#fakeFace{
    width:30%;
    height:40%;
}

#realFace{
    display:block;
    width:30%;
    height:40%;
    margin-left: auto;
    margin-right: auto;
}

svg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* section3 */
.onTop{
    background-color:#9B9B9B;
    position:relative;
    top:-100px;
    padding-bottom:0px;
}

/* section4 */
.section4 img{
    width:100%
}

#section2desktop,#section3desktop{
    display:none;
}

/* web version */
@media only screen and (min-width: 768px) {
    /* splash */
.splash{
    margin-top:400px;
    margin-bottom:400px;
    margin-left:50px;
    margin-right:50px;
}
#rightImg,#leftImg{
    width:30%;
}

.section1{
    display:grid;
    grid-template-columns:45% 10% 45%;
    margin-left:10%;
    margin-right:10%;
}

.section1 div:nth-child(2){
    grid-column-start:3;
    grid-column-end:4;
}
.machine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.section2,.section3,.section4{
    display:none;
}
#section2desktop{
    margin-top:200px;
    display:block;
    text-align:center
}
#section2desktop img{
    width:70%;
}

#section3desktop{
    margin-top:200px;
    margin-left:10%;
    margin-right:10%;
    display:block;
}

#gridDisplay{
    display:grid;
    grid-template-columns:45% 10% 45%;
    margin-left:10%;
    margin-right:10%;
}

#gridDisplay div:nth-child(1){
    grid-column-start:1;
    grid-column-end:2;
}

#gridDisplay div:nth-child(2){
    grid-column-start:3;
    grid-column-end:4;
}

#discriminator{
    width:70%;
}

#section4desktop{
    display:block;
    margin-top:200px;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:300px;
}
#section4desktop img{
    width:90%;
}

#section3desktop p, #section4desktop p{
    padding-left:100px;
    padding-right:100px;
    padding-top:100px;
}
#section4desktop li{
    padding-left:100px;
    padding-right:100px;
}
}